<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Ninject" version="3.0.0.15" />
  <package id="RouteMagic" version="1.2" />
  <package id="WebActivatorEx" version="2.0.2" />
</packages>
