_ReSharper*
bin
Bin
obj
App_Data
*.user
*.patch
*.hg
*.sln.cache
*.orig
*.suo
*.vs10x
*.vsp
*.psess
*.docstates
TestResults
[Tt]humbs.db
src/Server/Packages/*.nupkg
src/Server/Server.Publish.xml
DebugConstants.cs
*.log
packages/*
WebMatrixExtension/packages/*
!packages/Microsoft.Web.Xdt.1.0.0-alpha/
*.userprefs
.DS_Store
src/VsExtension/source.extension.vsixmanifest